# {{ ansible_managed }}
GITHUB_APP_ID={{ github_runner_app_id }}
GITHUB_APP_INSTALLATION_ID={{ github_runner_app_installation_id }}
GITHUB_ORG={{ github_runner_org }}
GITHUB_RUNNER_GROUP={{ github_runner_group }}
GITHUB_RUNNER_LABELS='{{ github_runner_labels | to_json }}'
