# {{ ansible_managed }}
GITHUB_APP_ID={{ github_runner_app_id }}
GITHUB_APP_INSTALLATION_ID={{ github_runner_app_installation_id }}
GITHUB_RUNNER_GROUP='{{ github_runner_group }}'
GITHUB_RUNNER_LABELS='{{ github_runner_labels | to_json }}'
VAULT_ADDR={{ github_runner_vault_addr }}
VAULT_ROLE_ID={{ github_runner_approle_role_id }}
VAULT_TRANSIT_KEY={{ github_runner_transit_key }}
